.left-side{
  margin-left: 5px;
}

/*Bowser Selection*/
.bowser-list {
  padding: 30px;
  background-color: lightblue;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Maintenance History and Right Hand Column */
.maintenance-list, .bowsers-right {
  padding: 30px;
  background-color: white;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Maintenance History Table */
#maint-table {
        border-collapse: separate;
        border-spacing: 0 15px;
}

#maint-table th{
	color: white;
	background-color: #0d6efd;
}
#maint-table th:nth-child(1){
        color: white;
		border-radius: .25rem 0 0 .25rem;
      }

#maint-table th:nth-child(6){
        color: white;
		border-radius: 0 .25rem .25rem 0;
}

#maint-table th, #maint-table td {
        width: 150px;
        text-align: center;
}

#maint-table > tbody > tr {
	height:50px;
}

#maint-table > tbody > tr > td:nth-child(-n+4) {
	box-shadow: 0 0 0 0 #fff,  0 0 0 0 #fff, 6px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 #fff;
	
}

#maint-table > tbody > tr > td:nth-child(1){
	border-radius: 15px 0 0 15px;
}

#maint-table > tbody > tr > td:nth-child(4){
	border-radius: 0 15px 15px 0;
}

#maint-table > tbody > tr > td:nth-child(6) {
	box-shadow: 6px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 #fff;
	
	
}

#maint-table > tbody > tr > th:nth-child(5),
#maint-table > tbody > tr > td:nth-child(5) {
    border: none;
    max-width: 10px;
}

#editModal select {
	box-shadow: unset;
}

@media only screen and (max-width: 415px) {
  #navTitle {
    margin-left: -250px;
    font-size: 25px;
  }
}