/*#new_tasks {*/
/*  border: #727272;*/
/*  border-radius: 5px;*/
/*}*/

.operations-list {
  padding: 30px;
  background-color: lightblue;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#text_area {
  padding: 30px;
  background-color: lightblue;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#registerLink{
  margin-left: -10px;
}
#loanLink{
  margin-left: 40px;
}
#bowserLink{
  margin-top: -60px;
  margin-left: 380px;
}
#reportTxt{
  color: whitesmoke;
  text-align: center;
}
#viewReports {
  padding: 30px;
  font-stretch: expanded;
  background-color: dodgerblue;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#new_tasks {
  padding: 30px;
  background-color: lightblue;
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#maintDiv{
  border: 0;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.select {
  width: 150px;
  color: whitesmoke;
}
select{
  background: cornflowerblue;
}


#bowserID{
}
#maintenanceID{
  margin-left: 280px;
  margin-top: -95px;
}
#taskID{
}
#priorityID{
  margin-left: 280px;
  margin-top: -95px;

}
#dateID{
}
#formID{}
#allocateSubmitID{
text-align: center;
}

.vibrate-2 {
  -webkit-animation: vibrate-2 0.3s linear infinite both;
  animation: vibrate-2 0.3s linear infinite both;
}
@-webkit-keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-2 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  40% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  60% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  80% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
